<!doctype html>
<html style="height: 100%">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        {% if title %}
        <title>{{ title }} - Visualisation</title>
        {% else %}
        <title>Welcome to Visualisation</title>
        {% endif %}
    </head>
    <body style="height: 100%">
        <div>
            Visualisation:
            <a href="{{ url_for('add_new_dots') }}">Add new dots</a>
            <a href="{{ url_for('drop_dots') }}">Drop db</a>
            <a href="{{ url_for('draw') }}">Draw</a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
