
<!--
<!DOCTYPE html>
<html>
<head>
    <title>Scatter Plot</title>

    <link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
</head>
<body>

    {{ plot_div | safe }}
</body>
</html>
-->

{% extends "base.html" %}

{% block content %}

{{ plot_div | safe }}
 
 <div id="modal" style="height: 92%">
<!--    <button id="deselectButton">Снять выделение</button>-->
    <div id="plot_div" style="height: 92%"></div>
    <script src="{{url_for('static', filename='plotly-2.29.1.min.js')}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{url_for('static', filename='variables.js')}}"></script>
    <script src="{{url_for('static', filename='draw_script.js')}}"></script>
</div>
{% endblock %}
